# --- App ---
PROJECT_NAME="Formulario Backend"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# --- Database (PostgreSQL) ---
POSTGRES_SERVER="localhost"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_DB="formulario_db"
POSTGRES_PORT="5432"

# --- Security ---
SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
